body {
  font-family: Arial, sans-serif;
}


.featured-recipes {
  margin-top: 20px; /* Push down for the navbar */
  padding: 5px 0;
  background-color: #fff;
}

.Reccontainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-column {
  flex: 1;
  padding-right: 20px;
  
}

.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.category-image {
  width: 100%;
  max-width: 200px;
  margin-bottom: 10px;
  border-radius: 8px;
  transition: transform 0.3s;
}

.category-image:hover {
  transform: scale(1.05);
}
